@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700&display=swap');

*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-family: 'Inter Tight', sans-serif;
  color: var(--white);
}

:root{
  --white: #fcfcfc;
  --gold: #facf40;
  --dark-blue: #243856;
  --dark-blue-1: #2A4265;
  --dark-blue-2: #304B73;
}

@keyframes shakeAnimation{
  0% {
    transform: rotate(-15deg);
  }
  17%{
    transform: rotate(-65deg);
  }
  34%{
    transform: rotate(-15deg);
  }
  51%{
    transform: rotate(-65deg);
  }
  68%{
    transform: rotate(-15deg);
  }
  85%{
    transform: rotate(-65deg);
  }
  100%{
    transform: rotate(-15deg);
  }
}

body{
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--dark-blue-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  #root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 5em;
    h1{
      text-transform: uppercase;
      background-color: var(--dark-blue);
      width: 100vw;
      font-size: 2.5rem;
      line-height: calc(5vw + 50px);
      letter-spacing: 0.05em;
      color: var(--gold);
    }
    header{
      width: 100vw;
      display: flex;
      flex-direction: column;
      gap: .5em;
      #roundExplanation::first-letter{
        text-transform: capitalize;
      }
    }
    .battleground{
      width: 100vw;
      display: flex;
      justify-content: center;
      gap: 1.5em;
      .userbox{
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 200px;
        min-height: 150px;
        h5{
          font-size: 5em;
        }
        p{
          font-size: 1.2rem;
          font-weight: 600;
        }
        .active{
          animation: shakeAnimation 1.5s linear infinite alternate;
        }
      }
    }
    .controls{
      width: 100vw;
      display: flex;
      justify-content: center;
      gap: 2em;
      justify-self: end;
      button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(4rem, 5vw, 4.5rem);
        width: 150px;
        height: 150px;
        background-color: var(--dark-blue);
        border-radius: 5px;
        &:hover{
          background-color: var(--dark-blue-2);
        }
      }
    }
  }
  #modal{
    z-index: 3;
    background-color: rgba(52, 63, 89, .85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    div{
      background-color: var(--dark-blue-2);
      border-radius: 10px;
      width: max-content;
      padding: 1.5em 2em;
      display: flex;
      flex-direction: column;
      gap: 1.25em;
      button{
        background-color: var(--dark-blue);
        padding: .75em 1em;
        border-radius: 5px;
        &:hover{
          background-color: var(--dark-blue-1);
        }
      }
    }
  }
  .active{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inactive{
    display: none;
  }
}